
  
  .leftArrow,
  .rightArrow {
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 10;
    border-radius: 50%;
    transition: background 0.3s ease;
  }
  
  .leftArrow {
    left: 10px;
  }
  
  .rightArrow {
    right: 10px;
  }
  
  .leftArrow:hover,
  .rightArrow:hover {
    background: rgba(0, 0, 0, 0.8);
  }

  .carouselContainer {
    overflow: hidden;
    width: 100%;
    max-width: 900px;
    margin: auto;
  }
  
  .carouselWrapper {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .carouselSlide {
    flex-shrink: 0;
  }
  