.titleCard{
    font-size: 1.5rem;
    color:#03bd64;
    margin: 10px auto 30px auto;
    place-self: center;
    text-transform: uppercase;
    place-self: center;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}
.buttonContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.validerButton{
    background-color: #000;
    color:#fff;
    padding: 13px 25px;
    border-radius: 10px;
    font-size: 0.9rem;
    cursor: pointer;
}
.backButton{
    color:#000;
    font-size: 0.9rem;
    cursor: pointer;
}