.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100vw;
  min-height: 100vh;
  max-width: 1920px;
  margin: auto;
  place-self: center;
  background-color: #efefef;
}

